<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0; border: 0">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Welcome<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Doc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Community</a>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a class="btn btn-danger" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">Profile</a>
                    <a class="btn btn-info" th:href="@{/register}"
                       th:unless="${#httpServletRequest.remoteUser}">Register</a>
                    <a class="btn btn-success" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>