<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0; border: 0">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Welcome<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://spring.io/guides/gs/securing-web/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.spring.io/spring-security/site/docs/current/reference/html5/">Doc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Alex44711?tab=repositories">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.spring.io/spring-security/site/docs/3.1.x/reference/community.html">Community</a>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a class="btn btn-danger" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">Profile</a>
                    <a class="btn btn-info" th:href="@{/register}"
                       th:unless="${#httpServletRequest.remoteUser}">Register</a>
                    <a class="btn btn-success" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>