<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Security Demos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-bottom: 0">

<div th:insert="~{header :: nav}"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="padding-top: 20px">
        <h1 class="display-3 font-italic">Tongwei's Blog</h1>
        <p class="lead" style="margin-top: 20px;">Simple Blog</p>
        <p style="margin-top: 20px;"><a class="btn btn-primary" href="https://spring.io/projects/spring-security" role="button"> Doc &raquo;</a></p>
    </div>
</div>

<div class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/calculator.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">A simple loan calculator</p>
                <a href="/loanCalculator" class="btn btn-outline-success">Enter</a>
            </div>
        </div>
</div>

<div class="container" style="padding-top: 30px">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Github</h2>
            <p>Project github Link</p>
            <p><a class="btn btn-outline-info" href="https://github.com/Alex44711/webSec" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Jenkins</h2>
            <p>Project CI</p>
            <p><a class="btn btn-outline-info" href="http://tongwei.website:8080/" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Micro</h2>
            <p>Spring Security implements</p>
            <p><a class="btn btn-outline-info" href="https://github.com/ChinaSilence/micro" role="button">Details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2020 Power By <a href="https://tongwei.website">Tongwei</a> .</p>
    </footer>
</div> <!-- /container -->

</body>

</html>
